

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/* ===================================================
    Header Section Css
======================================================*/

.header_division {
    position: absolute;
    left: 0;
    right: 0;
    padding: 15px 0;
}

.header_elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.header_icon a img {
    width: 110px;
}

.header_menu ul li {
    display: inline-block;
    position: relative;
}

.header_menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 70px;
    font-weight: 500;
    padding: 0 12px;
    position: relative;
    transition: .3s;
}

.header_menu ul li:hover>a {
    color: #d71700;
    font-weight: 400;
}

.header_menu ul li a.home {
    font-weight: 400;
    color: #d71700;
}

.header_menu ul li a::after {
    content: "\f067";
    font-family: "Font Awesome 5 Pro";
    font-weight: 600;
    margin-left: 10px;
    font-size: 13px;
}

.header_menu ul li a:hover::after {
    content: "\f068";
    font-family: "Font Awesome 5 Pro";
    font-weight: 600;
    margin-left: 10px;
}

.header_menu ul li a.home::after {
    font-weight: 500;
}

.header_menu ul li:nth-child(2) a::after {
    display: none;
}

.header_menu ul li:nth-child(7) a::after {
    display: none;
}

.header_menu ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 180px;
    background: #fff;
    border-radius: 0 0 7px 7px;
}

.header_menu ul ul li {
    display: block;
}

.header_menu ul ul li a {
    display: block;
    color: #000;
    line-height: 40px;
    font-size: 15px;
}

.header_menu ul ul li a::after {
    display: none;
}

.header_menu ul ul li a:hover {
    font-weight: 500;
}

.header_menu ul li ul {
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: translateY(50px);
}

.header_menu ul li:hover>ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.header_btn a {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 13px 30px;
    margin-top: 10px;
    background: linear-gradient(#dd2006, #fd5429);
    border-radius: 50px;
}

.header_btn a:hover {
    background: linear-gradient(#fd5429, #dd2006);
}

/* ===================================================
    Banner Section Css
======================================================*/

.banner_division {
    background: url(image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 200px 200px 70px 200px;
}

.banner_division_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.banner_text h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 28px;
    color: #fff;
}

.banner_text h3 {
    font-size: 56px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}

.banner_text h3 span {
    font-size: 45px;
    font-weight: 500;
}

.banner_text p {
    color: #fff;
    width: 520px;
    line-height: 26px;
}

.banner_btn {
    margin-top: 50px;
    margin-right: 25px;
    display: inline-block;
}

.banner_btn a {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(221, 32, 6), rgb(253, 84, 41));
    font-size: 18px;
    font-weight: 500;
    padding: 12px 28px;
    border-radius: 50px;
}

.banner_btn a:hover {
    background: linear-gradient(rgb(253, 84, 41), rgb(221, 32, 6));
}

.banner_btn_slap {
    position: relative;
    top: 20px;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 60px;
    background: #fff;
    overflow: hidden;
    transition: .5s;
}

.banner_btn_slap:hover {
    width: 185px;
}

.slap_logo {
    display: block;
    position: absolute;
    top: 14px;
    left: 19px;
}

.slap_logo i {
    color: #d71700;
}

.slap_text {
    display: block;
    position: absolute;
    top: 14px;
    left: 60px;
    color: #d71700;
    font-weight: 500;
    width: 150px;
}

.banner_img img {
    width: 449px;
    margin-right: 50px;
    margin-top: -45px;
    transition: .5s;
}

.banner_img:hover img {
    transform: translateX(-30px);
}

.flick_1 .line {
    position: absolute;
    top: 0px;
    left: 5%;
    height: 105%;
    width: 1px;
    background: rgba(255, 255, 255, .3);
}

.flick_1 .box {
    position: absolute;
    top: 0;
    left: 4.9%;
    height: 17px;
    width: 5px;
    background: #fff;
    animation: box_1 infinite 7s ease-in-out;
}

@keyframes box_1 {
    0% {
        transform: translateY(-100px)
    }

    100% {
        transform: translateY(700px);
    }
}

.flick_1 .line {
    position: absolute;
    top: 0px;
    left: 34%;
    height: 105%;
    width: 1px;
    background: rgba(255, 255, 255, .3);
}

.flick_1 .box {
    position: absolute;
    top: 0;
    left: 33.9%;
    height: 17px;
    width: 5px;
    background: #fff;
    animation: box_2 infinite 7s ease-in-out 2s;
}

@keyframes box_2 {
    0% {
        transform: translateY(-100px)
    }

    100% {
        transform: translateY(700px);
    }
}

.flick_3 .line {
    position: absolute;
    top: 0px;
    left: 61%;
    height: 105%;
    width: 1px;
    background: rgba(255, 255, 255, .3);
}

.flick_3 .box {
    position: absolute;
    top: 0;
    left: 60.8%;
    height: 17px;
    width: 5px;
    background: #fff;
    animation: box_3 infinite 7s ease-in-out 3s;
}

@keyframes box_3 {
    0% {
        transform: translateY(-100px)
    }

    100% {
        transform: translateY(700px);
    }
}

.flick_4 .line {
    position: absolute;
    top: 0px;
    left: 93%;
    height: 105%;
    width: 1px;
    background: rgba(255, 255, 255, .3);
}

.flick_4 .box {
    position: absolute;
    top: 0;
    left: 92.8%;
    height: 17px;
    width: 5px;
    background: #fff;
    animation: box_4 infinite 7s ease-in-out 4s;
}

@keyframes box_4 {
    0% {
        transform: translateY(-100px)
    }

    100% {
        transform: translateY(700px);
    }
}

/* ===================================================
    Feature Section Css
======================================================*/

.feature_division {
    padding: 100px 0;
    background: #fff;
}

.feature_division_elemts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.feature_left_side {
    width: 49%;
}

.feature_right_side {
    width: 49%;
}

.feature_img img {
    width: 600px;
}

.feature_text h2 {
    font-size: 20px;
    font-weight: 500;
    color: #e93414;
    margin-bottom: 28px;
}

.feature_text h3 {
    font-size: 38px;
    font-weight: 700;
    line-height: 53px;
    color: #1c1c25;
    margin-bottom: 30px;
}

.feature_text p {
    color: #888888;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.feature_opt {
    margin-top: 35px;
}

.feature_opt ul {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.feature_opt ul li {
    color: #1c1c25;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    transition: .5s;
}

.feature_opt ul li:hover {
    color: #d71700;
}

.feature_opt ul li::before {
    content: "\f101";
    font-family: "Font Awesome 5 Pro";
    font-weight: 600;
    margin-right: 10px;
}

.feature_btn a {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    background: linear-gradient(#db1e05, #fd5429);
    font-size: 16px;
    font-weight: 700;
    padding: 15px 28px;
    border-radius: 50px;
}

.feature_btn a span {
    margin-left: 5px;
}

.feature_btn a:hover {
    background: linear-gradient(#fd5429, #db1e05);
}

/* ===================================================
    Newsletter Section Css
======================================================*/

.newsletter_division {
    background: url(image/newsletter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    background-attachment: fixed;
    padding: 75px 0;
}

.newsletter_up {
    text-align: center;
}

.newsletter_up h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.newsletter_up h3 {
    color: #fff;
    font-size: 40px;
    width: 600px;
    margin: 0 auto;
    font-weight: 700;
    line-height: 53px;
}

.newsletter_down {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.newsletter_down .form_side {
    display: inline-block;
    width: 35%;
}

.newsletter_down .form_side input {
    width: 95%;
    display: block;
    padding: 18px;
    border: none;
    outline: none;
    font-family: "roboto", sans-serif;
}

.newsletter_down .form_side input::placeholder {
    font-size: 16px;
}

.newsletter_down .form_btn {
    width: 20%;
    display: inline-block;
}

.newsletter_down .form_btn input {
    display: inline-block;
    padding: 17px;
    width: 100%;
    border: none;
    outline: none;
    background: linear-gradient(#dd2006, #fd5429);
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}

.newsletter_down .form_btn input:hover {
    background: linear-gradient(#fd5429, #dd2006);
}

/* ===================================================
    Market Section Css
======================================================*/

.market_division {
    padding: 100px 0;
}

.market_up {
    text-align: center;
    margin-bottom: 60px;
}

.market_up h2 {
    font-size: 20px;
    font-weight: 500;
    color: #d71700;
    margin-bottom: 10px;
}

.market_up h3 {
    font-size: 38px;
    font-weight: 700;
}

.market_down {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.market_box {
    width: 49%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 2px 0 90px rgba(0, 0, 0, .08);
}

.market_box_img {
    width: 30%;
}

.market_box_text {
    width: 70%;
    position: relative;
    z-index: 1;
}

.market_box_text::after {
    content: "";
    position: absolute;
    top: -35px;
    right: -29px;
    height: 150%;
    width: 3px;
    background: #ff582c;
    z-index: -1;
    transition: .5s;
}

.market_box_text h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 28px;
    transition: .5s;
}

.market_box_text p {
    color: #8f8f8f;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    transition: .5s;
}

.market_box:hover h3 {
    color: #fff;
}

.market_box:hover p {
    color: #fff;
}

.market_box:hover .market_box_text::after {
    width: 113%;
}

/*====================================================
    Portfolio Section Css
======================================================*/

.portfolio_division {
    background: url(image/portfolio.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.portfilio_up {
    text-align: center;
}

.portfilio_up h2 {
    font-size: 20px;
    font-weight: 500;
    color: #d71700;
    margin-bottom: 12px;
}

.portfilio_up h3 {
    font-size: 38px;
    font-weight: 700;
    color: #1c1c25;
}

.portfolio_nav {
    margin-top: 45px;
}

.portfolio_nav ul li {
    display: inline-block;
}

.portfolio_nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #888888;
    padding: 0 21px;
    font-size: 17px;
    font-weight: 400;
}

.portfolio_nav ul li:first-child a {
    color: #fff;
    position: relative;
    z-index: 1;
}

.portfolio_nav ul li:first-child a::before {
    content: "";
    position: absolute;
    top: -17px;
    left: 6px;
    height: 60px;
    width: 68px;
    background: linear-gradient(#dd2006, #fd5429);
    z-index: -1;
}

.portfolio_nav ul li:first-child a::after {
    content: "";
    position: absolute;
    top: -21px;
    left: 55px;
    height: 71px;
    width: 30px;
    transform: rotate(20deg);
    background: url(image/portfolio.jpg);
    background-position: 100% 100%;
    z-index: -1;
}

.portfolio_bottom_area {
    margin-top: 80px;
}

.portfolio_image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.portfolio_img_box {
    position: relative;
    overflow: hidden;
}

.portfolio_ext {
    position: absolute;
    bottom: 40px;
    left: -28px;
    height: 65px;
    width: 300px;
    background: #fff;
    transform: skew(40deg) translateX(-315px);
    padding: 5px;
    transition: .5s;
}

.portfolio_img_box:hover .portfolio_ext {
    transform: skew(40deg) translateX(0px);
}

.portfolio_ext p {
    transform: skew(-40deg);
    color: #888888;
    font-size: 16px;
    font-weight: 400;
    margin-left: 50px;
}

.portfolio_ext h4 {
    transform: skew(-40deg);
    margin-left: 29px;
}

.portfolio_ext h4 a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #d71700;
}

.portfolio_img_box {
    margin-bottom: 20px;
}

.portfolio_img_box:nth-child(1) {
    flex-basis: 32%;
}

.portfolio_img_box:nth-child(2) {
    flex-basis: 32%;
}

.portfolio_img_box:nth-child(3) {
    flex-basis: 32%;
}

.portfolio_img_box:nth-child(4) {
    flex-basis: 66%;
}

.portfolio_img_box:nth-child(5) {
    flex-basis: 32%;
}

.portfolio_img_box:nth-child(6) {
    flex-basis: 49%;
}

.portfolio_img_box:nth-child(7) {
    flex-basis: 49%;
}

/*====================================================
    FAQ Section Css
======================================================*/

.faq_division {
    padding: 100px 0;
}

.faq_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.faq_left_side {
    flex-basis: 49%;
}

.faq_right_side {
    flex-basis: 49%;
}

.faq_head {
    margin-bottom: 35px;
}


.faq_head h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #d71700;
}

.faq_head h3 {
    color: #1c1c25;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.faq_head p {
    color: #888888;
    font-size: 16px;
    font-weight: 400;
}

.faq_box {
    margin-bottom: 30px;
}

.faq_box details summary {
    list-style: none;
    border: 1px solid #dddddd;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 10px 10px 50px;
    position: relative;
    cursor: pointer;
}

.faq_box details summary::before {
    content: "\f058";
    font-family: "Font Awesome 5 Pro";
    font-weight: 600;
    font-size: 22px;
    margin-left: -26px;
    padding-right: 13px;
}

.faq_box details summary::after {
    content: "\f107";
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    font-size: 23px;
    position: absolute;
    top: 11px;
    right: 25px;
}

.faq_box details[open]>summary {
    background: linear-gradient(#dd2006, #fe562b);
    color: #fff;

}

.faq_box details[open]>summary::after {
    content: "\f106";
}

.faq_box details p {
    padding: 15px 20px;
    color: #888888;
    font-size: 16px;
    font-weight: 400;
}

.faq_img {
    transform: translateY(30px);
}

/*====================================================
    Testimonial Section Css
======================================================*/

.testimonial_division {
    background: url(image/newsletter.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 60px 0;
}

.testimonial_up {
    text-align: center;
    margin-bottom: 60px;
}

.testimonial_up h2 {
    color: rgba(255, 255, 255, .9);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.testimonial_up h3 {
    color: #fff;
    font-size: 38px;
    font-weight: 700;
}

.testimonial_mid_area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.testimonial_box {
    height: 250px;
    width: 500px;
    background: #fff;
    position: relative;
    padding: 50px 20px 50px 70px;
    z-index: 1;
}

.testimonial_quoat {
    position: absolute;
    top: 50px;
    left: -35px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    background: #fff;
    box-shadow: 10px 0 90px rgba(0, 0, 0, 0.15);
}

.testimonial_quoat {
    font-size: 30px;
    color: #d71700;
}

.testimonial_client {
    position: absolute;
    top: 50px;
    right: -30px;
    height: 250px;
    width: 500px;
    background: rgba(255, 255, 255, .7);
    z-index: -1;
}

.testimonial_client h4 {
    position: absolute;
    top: 85%;
    left: 30px;
    text-transform: capitalize;
    color: #1c1c25;
    font-size: 18px;
    font-weight: 700;
}

.testimonial_text p {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.testimonial_bullets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 100px;
    cursor: pointer;
}

.bullet {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: linear-gradient(#dd2006, #fd5429);
    margin-right: 10px;
}

.bullet:last-child {
    background: #fff;
}

/*====================================================
    Pricing Section Css
======================================================*/

.pricing_division {
    padding: 100px 0;
}

.pricing_up {
    text-align: center;
    margin-bottom: 60px;
}

.pricing_up h2 {
    color: #d71700;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.pricing_up h3 {
    color: #1c1c25;
    font-size: 38px;
    font-weight: 700;
}

.pricing_table {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pricing_box {
    background: url("image/pricing_table.jpg") 100% 100% / cover no-repeat;
    padding: 30px 75px;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 5px 24px;
    border-radius: 3px;
    flex-basis: 31%;
    position: relative;
}

.pricing_box::before {
    content: "Premium";
    position: absolute;
    top: 30px;
    left: 0px;
    height: 25px;
    width: 100px;
    padding: 7px 15px;
    background: rgb(28, 28, 37);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 18px;
    border-radius: 0 25px 25px 0;
}

.pricing_box:nth-child(2):before {
    content: "Advanced";
}

.pricing_box:nth-child(3):before {
    content: "Business";
}

.pricing_box_img h2 {
    color: #1c1c25;
    font-size: 26px;
    font-weight: 700;
    margin-top: 15px;
    transition: .5s;
}

.pricing_box_list {
    margin-top: 35px;
}

.pricing_box_list ul {
    list-style: none;
    text-align: center;
}

.pricing_box_list ul li {
    color: #888888;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.pricing_box_btn {
    text-align: center;
}

.pricing_box_btn a {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 12px 27px;
    border-radius: 50px;
    background: rgb(28, 28, 37);
}

.pricing_box:nth-child(2) .pricing_box_img h2 {
    color: #d71700;
}

.pricing_box:nth-child(2) .pricing_box_btn a {
    background: linear-gradient(#dd2006, #fd5429);
}

.pricing_box:nth-child(2)::before {
    background: linear-gradient(#dd2006, #fd5429);
}

.pricing_box:hover .pricing_box_img h2 {
    color: #d71700;
}

.pricing_box:hover .pricing_box_btn a {
    background: linear-gradient(#dd2006, #fd5429);
}

.pricing_box:hover.pricing_box::before {
    background: linear-gradient(#dd2006, #fd5429);
}

/*====================================================
    Blog Section Css
======================================================*/

.blog_division {
    padding: 100px 0;
    background: #edf3fb;
}

.blog_up {
    text-align: center;
    margin-bottom: 60px;
}

.blog_up h2 {
    color: #d71700;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.blog_up h3 {
    color: #1c1c25;
    font-size: 38px;
    font-weight: 700;
}

.blog_table {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.blog_box {
    flex-basis: 31%;
    background: #fff;
    overflow: hidden;
}

.blog_content_bottom {
    padding: 25px 30px;
}

.blog_img_top {
    overflow: hidden;
}

.blog_img_top img {
    transition: .7s;
}

.blog_icon {
    display: inline-flex;
    margin-right: 15px;
}

.blog_icon span {
    margin-right: 10px;
}

.blog_icon span i {
    color: #d71700;
}

.blog_icon p {
    color: #888888;
    font-size: 15px;
    transition: .5s;
    cursor: pointer;
}

.blog_icon p:hover {
    color: #d71700;
}

.blog_text h2 a {
    display: inline-block;
    text-decoration: none;
    color: #1c1c25;
    line-height: 32px;
    margin-top: 15px;
    transition: .5s;
}

.blog_text h2 a:hover {
    color: #d71700;
}

.blog_text P {
    color: #888888;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 26px;
}

.blog_btn a {
    display: inline-block;
    color: #1c1c25;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    transition: .5s;
}

.blog_btn a:hover {
    color: #d71700;
}

.blog_box:hover .blog_img_top img {
    transform: scale(1.3) rotate(-10deg);
}

/*====================================================
    Footer Section Css
======================================================*/

.footer_division {
    background: url(image/footer.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 60px 0 20px 0;
}

.footer_up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
    position: relative;
}

.footer_up::after {
    content: "";
    position: absolute;
    bottom: -60px;
    left: 0;
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, .3);
}

.footer_top_text h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.footer_top_btn a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(#dd2006, #fd5429);
    padding: 12px 28px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
}

.footer_top_btn a:hover {
    background: linear-gradient(#fd5429, #dd2006);
}

.footer_sides {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer_box {
    flex-basis: 25%;
}

.footer_box h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.footer_menu {
    margin-top: 50px;
}

.footer_menu ul {
    list-style: none;
}

.footer_menu ul li span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.footer_menu ul li span i {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #fff;
    color: #d71700;
    border: 1px solid #fff;
}

.footer_box:nth-child(1) ul li:hover span i {
    color: #fff;
    background: linear-gradient(#dd2006, #fd5429);
    border: 1px solid #fff;
}

.footer_menu ul li p {
    display: inline-flex;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.footer_box:nth-child(2) .footer_menu ul {
    list-style: inherit;
}

.footer_menu ul li {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    cursor: pointer;
    transition: .5s;
}

.footer_menu ul li:hover {
    color: #d71700;
}

.footer_menu p.fl {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.footer_field {
    margin-top: 15px;
}

.footer_field input {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 17px 12px;
}

.footer_field input::placeholder {
    font-size: 16px;
}

.footer_field input[type="submit"] {
    background: linear-gradient(#dd2006, #fd5429);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.footer_field input[type="submit"]:hover {
    background: linear-gradient(#fd5429, #dd2006);
}

.footer_text_sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
    margin-top: 100px;
}

.footer_text_sec::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, .3);
}

.footer_text_sec_left p {
    color: #fff;
}

.footer_text_sec_right ul li {
    display: inline-block;
    margin-left: -5px;
}

.footer_text_sec_right ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: .5s;
    padding: 0 15px;
}

.footer_text_sec_right ul li a:hover {
    color: #d71700;
}

.click a span {
    background: #d51f08;
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 51px;
    right: 2%;
    color: #fff;
    z-index: 1000;
    text-align: center;
    line-height: 35px;
    font-size: 17px;
    animation: anwar 1.5s linear infinite;
}

@keyframes anwar {
    0% {
        bottom: 40px;
    }

    50% {
        bottom: 50px;
    }

    100% {
        bottom: 40px;
    }
}



